*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img{
	vertical-align: top;
}

a{
	text-decoration: none;
	display: inline-block;
}

/*===========================================================*/

/*Header*/

header{
	width: 100%;
	box-shadow: 0px 3px 8px -1px rgba(0,0,0,0.75);
	/*margin-bottom: 100px;*/
}

header .brand{
	width: 100%;
	text-align: center;
	padding: 20px 0;
}

header .brand img{
	width: 150px;
}

header .menu-navigation{
	display: flex;

	width: 100%;

	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;

	padding: 15px 30px;
	background: #1a0b0a;
}

header .menu-navigation .links{
	color: #fff;
	width: 60%;

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

header .menu-navigation .links a {
	color: #fff;
	display: inline-block;
	padding: 10px;
	width: 20%;

	font-family: 'Raleway';
	font-weight: 700;
	font-size: 14px;
}

header .menu-navigation .contact{
	color: #fff;
	width: 40%;

	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

header .menu-navigation .contact div{
	display: flex;;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;

	font-family: 'Raleway';
	font-weight: 300;
	color: #f2f2f2;
}

header .menu-navigation .contact div img{
	width: 40px;
	margin-right: 10px;
}


/*Main*/

main{
	margin: 150px 0;
}

/*About Me*/
main .about-me{
	width: 80%;
	max-width: 1200px;
	margin: auto;
	padding: 15px;
	text-align: center;

	margin-bottom: 150px;
}
main .about-me::after{
    content: "";
    width: 60px;
    display: inline-block;
    height: 2px;
    background: #1a0b0a;
}

main .about-me .text{
	line-height: 25px;
	font-family: 'Raleway';
	font-weight: 500;
	text-align: center;
}

main .showcase{
	width: 100%;
	margin-bottom: 200px;
}

main .showcase .chocolate{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}


main .showcase .chocolate .info {
	width: 50%;
	padding: 100px;
}

main .showcase .chocolate .info .title{
	font-size: 28px;
	font-family: 'Raleway';
	font-weight: 300;
	width: 50%;
	margin: auto;
	margin-bottom: 50px;
	text-align: center;
	padding-bottom: 4px;
	color: #e74c3c;
	border-bottom: 2px solid #e74c3c;
}

main .showcase .chocolate .info .description{
	line-height: 25px;
	font-family: 'Raleway';
	letter-spacing: 3px;
	font-weight: 400;
}

main .showcase .chocolate .info .description strong {
	color: #e74c3c;
}

main .showcase .chocolate .info .btn{
	display: block;
	margin: auto;
	margin-top: 30px;
	width: 30%;
	text-align: center;
	font-family: Raleway;
	font-size: 22px;
	color: #fff;
	background: #e74c3c;
	padding: 15px 10px;
	font-weight: 700;
	transition: all .3s ease;
}
main .showcase .chocolate .info .btn:hover{
	transform: scale(1.1);
}



main .showcase .trufas .wallpaper {
	width: 50%;
	/*background: #e74c3c;*/
	background: url('./Assets/Trufas/wallpaper.jpg');
	background-size: cover;
	background-position: center; 
}
main .showcase .bombones .wallpaper {
	width: 50%;
	/*background: #e74c3c;*/
	background: url('./Assets/Bombones/wallpaper.jpg');
	background-size: cover;
	background-position: center; 
}
main .showcase .paletas .wallpaper {
	width: 50%;
	/*background: #e74c3c;*/
	background: url('./Assets/Paletas/wallpaper.jpeg');
	background-size: cover;
	background-position: center; 
}
main .showcase .chocotejas .wallpaper {
	width: 50%;
	/*background: #e74c3c;*/
	background: url('./Assets/Chocotejas/wallpaper.jpg');
	background-size: cover;
	background-position: center; 
}
main .showcase .alfajores .wallpaper {
	width: 50%;
	/*background: #e74c3c;*/
	background: url('./Assets/Alfajores/wallpaper.jpg');
	background-size: cover;
	background-position: center; 
}

/*Secondary*/

main .secondary-text{
	width: 100%;
	padding: 0px 20px;
}

main .secondary-text .title{
	font-weight: 500;
	font-family: 'Raleway';
	font-size: 50px;
	font-style: italic;
	color: #2B2B2B;
	margin-bottom: 15px;
}

main .secondary-text .text{
	font-family: 'Raleway';
	font-style: 16px;
	font-weight: 400;
	padding: 0px 20px;
}

main .special-days{
	width: 100%;
	margin: 100px 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

main .special-days .day{
	width: 25%;
}

main .special-days .day .text{
	text-align: center;
	padding: 20px 0;
	font-family: 'Raleway';
	font-weight: 300;
	font-size: 25px;
	color: #fff;
	transition: all .3s ease;
}

main .special-days .day .text:hover{
	background: #fff;
	color: #e53c2b ;
}

main .special-days .day .oscure{
	background: #e53c2b;

}

main .special-days .day .light{
	background: #e74c3c;
}

/*Footer*/

footer{
	margin-top: 400px;
	width: 100%;
	background: url('./Assets/regal.png');
}

footer .head{
	text-align: center;
	padding: 20px 0;
}

footer .head img{
	width: 150px;
}

footer .contact{
	width: 100%;
	text-align: center;
	margin-top: 50px;
	padding: 20px;
	background: rgba(45,45,45,.8);
}

footer .contact div{
	font-family: 'Raleway';
	font-weight: 300;
	color: #fff;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

footer .contact div img{
	width: 40px;
	margin-right: 10px;
}