@media only screen and (max-width: 768px) {
	
	header .menu-navigation .links{
		width: 100%;
		text-align: center;
	}

	header .menu-navigation .contact{
		width: 100%;
		text-align: center;
	}


	header .menu-navigation .contact div{
		font-size: 13px;
	}

	header .menu-navigation .contact div img{
		width: 30px;
	}

	/*===*/

	main .showcase .chocolate .info{
		/*background: #ccc;*/
		padding: 20px;
	}

	main .showcase .chocolate .info .title{
		width: 80%;
	}

	main .showcase .chocolate .info .description{
		font-size: 15px;
		letter-spacing: 3px;
	}

	main .showcase .chocolate .info .btn{
		width: 90%;
	}

	footer{
		margin-top: 250px;
	}
}

@media only screen and (max-width: 500px) {


	main .showcase .chocolate{
		position: relative;
		margin-bottom: 50px;
	}

	main .showcase .chocolate .info{
		width: 100%;
		padding: 30px;
	}

	main .showcase .chocolate .wallpaper {
		display: none
	} 

	main .secondary-text{
		text-align: center;
		padding: 20px 0;
	}

	main .secondary-text .title{
		font-size: 24px;
		padding: 0;
	}

	main .secondary-text .text{
		font-size: 14px;
		padding: 0;
	}

	main .special-days {
		justify-content: space-around;
	}

	main .special-days .day{
		width: 50%;
	}
}


@media only screen and (max-width: 400px) {
	
	header .menu-navigation .links{
		flex-wrap: wrap;
	}

	header .menu-navigation .links a{
		width: auto;
	}

	header .menu-navigation .contact div img{
		width: 20px;
	}

	main .about-me .text{
		font-size: 14px;
	}

	main .secondary-text{
		display: none;
	}
}