*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway'
}

img{
	vertical-align: top;
}

a{
	text-decoration: none;
	display: inline-block;
}

/*===========================================================*/

/*Header*/

header{
	width: 100%;
	/* box-shadow: 0px 3px 8px -1px rgba(0,0,0,0.75); */
	background: #fff;
	position: fixed;
	z-index: 1000;
	transition: all .3s ease;
}

header .brand{
	position: relative;
	width: 100%;
	text-align: center;
	padding: 20px 0;
	transition: all .3s ease;
}

header .brand a{
	display: inline-block;
	position: relative;
	z-index: 20;
}

header .brand a img{
	width: 150px;
	transition: all .3s ease;
	
}

.snowimage{
	position: absolute;
	width: 110%;
	transform: translateY(-40%) scaleY(.5);
	top: 0px;
	left: -30px;
	z-index: 1;
}



/*Main*/

main{
	padding: 20px;
	padding-top: 200px;
	width: 90%;
	margin: auto;
}

main .title{
	display: inline-block;
	font-size: 60px;
	font-weight: 300;
	padding-bottom: 4px;
	color: #2C2C2C;
	border-bottom: 2px solid #2C2C2C;
	font-family: 'Indie Flower'
}

main .sub-title{
	margin-top: 15px;
	color: #2C2C2C;
}

main .gallery {
	position: relative;
	width: 90%;
	background: url('../Assets/catalogo-pattern.png');
	margin: 70px auto;
	padding: 30px;
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

main .gallery .container{
	position: relative;
	background: rgba(255,255,255, .75);
	margin: 15px;
	margin-bottom: 50px;
	padding: 20px;
	overflow: hidden;
	transition: all .3s ease;
}

main .gallery .container:hover{
	transform: scale(1.05);
	box-shadow: 0px 10px 20px -6px rgba(0,0,0,0.75);
}


main .gallery .container img{
	margin-bottom: 15px;
	min-width: 200px;
	max-width: 300px;
}

main .gallery .container p{
	margin-top: 10px;
	font-weight: bold;
}

main .gallery .container .code{
	width: 100%;
	display: block;
	margin-top: 15px;
	color: #4B43E6;
	font-weight: bold;
}

main .gallery .container .price{
	margin-top: 30px;
	text-align: center;
	font-size: 22px;
	color: #fff;
	background: rgb(47, 158, 218);
	padding: 15px 10px;
	font-weight: 700;
	transition: all .3s ease;
	border: none;
	width: 30%;
	min-width: 150px;
}

main .gallery .container .price:hover{
	transform: scale(1.1)
}

/*Footer*/

footer{
	width: 100%;
	background: url('../Assets/catalogo-pattern.png');
}

footer .head{
	text-align: center;
	padding: 20px 0;
}

footer .head img{
	width: 200px;
}

footer .contact{
	width: 100%;
	text-align: center;
	margin-top: 50px;
	padding: 20px;
	background: rgba(45,45,45,.6);
}

footer .contact div{
	text-align: center
}

footer .contact div p{
	font-family: 'Raleway';
	font-weight: 700;
	color: #fff;
	margin: 10px 0;
	align-items: center;
}

footer .contact div p span{
	margin-right: 10px;
	font-size: 22px;
}